.img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.box1 {
  margin-right: 60px;
}
.box2 {
  margin-left: 60px;
}
.img3 {
  width: 479px;
  height: 481px;
  left: 320px;
  top: 1111px;
}
.img5 {
  width: 380px;
  height: 110px;
  margin-top: 150px;
  margin-left: 80px;
  display: flex;
}
.img2 {
  width: 230px;
  height: 100px;

  margin-top: 150px;
  margin-right: 140px;
}
.img4 {
  width: 479px;
  height: 481px;
}
