.header img {
  width: 960px;
  height: 419px;
}
.header {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .header img {
    width: 660px;
    height: 219px;
  }
  .header {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}
