article h1 {
  padding: 40px;
  text-align: center;
  margin: auto;
  width: 281px;
  height: 30px;
  /* left: 660px;
  top: 688px; */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #b7dc16;
}

article p {
  text-align: center;
  margin: auto;
  width: 480px;
  height: 160px;
  /* left: 547px;
  top: 733px; */

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #005249;
}

.article button {
  margin: auto;
  margin-top: -40px;
  margin-bottom: 30px;
  width: 153px;
  height: 45px;
  /* left: 724px; */
  /* top: 1006px; */

  background: #b7dc16;
  border-radius: 5px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* line-height: 14px; */

  text-align: center;
  letter-spacing: 0.1em;

  color: #005249;
  border: none;
}
.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

/* modal css */

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.47);
}
.modal-box h1 {
  text-align: center;
  padding: 20px;
  color: #b7dc16;
  margin-top: 0;
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.354);
  z-index: 101;
  padding: 20px;
  color: #005249;
  transition: 0.5s ease-in;
}

.modal-box button {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 1100px) {
  .article p {
    width: 100%;
  }
  .modal-box button {
    width: 100%;
  }
}
